NEXT_PUBLIC_SUPABASE_URL=https://llufvkviyxfuosykafmm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsIn
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZi
ANONYMOUS_CODE_HMAC_SECRET=31e24f78b3dd105df9056d1b1ad173fbfaf1b66ecf246360c7a8b3bd3959f17e
SESSION_SECRET=cf2121bba046581572ff32b9c6ea9e6230988503df54c5c672e7e89401409430
NEXT_PUBLIC_APP_URL=http://localhost:3000
